@page "/ForgotPassword"
<div class="container-fluid">
    @if (!string.IsNullOrEmpty(PageMessage))
    {
        <div class="alert alert-success" role="alert">
            @PageMessage
        </div>
    }
    @if (!string.IsNullOrEmpty(ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">
            @ErrorMessage
        </div>
    }
    <h1>Forgot Password</h1>
    <div class="row">
        <div class="col-md-12">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">User Name:</RadzenText>
                <RadzenTextBox class="form-control" @bind-Value=@PageModel.UserName />
                @if (ShowQuestion)
                {
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Challenge Question:</RadzenText>
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">@PageModel.ChallengeQuestion</RadzenText>
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Challenge Answer</RadzenText>
                    <RadzenTextBox class="form-control" @bind-Value=@ChallengeAnswer />
                }
                @if (ShowPassword)
                {
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Your Password:</RadzenText>
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">@PageModel.Password</RadzenText>
                }
            </RadzenCard>
            <RadzenButton Text="Validate" Icon="save" ButtonStyle="ButtonStyle.Success" Style="float:right" Click="() => Validate()"></RadzenButton>
        </div>
    </div>

</div>
@code {
    [CascadingParameter]
    public CascadingAppState AppState { get; set; }
    private string PageMessage = string.Empty;
    private string ErrorMessage = string.Empty;
    private UserChallengeEntity PageModel = new();
    private bool ShowQuestion = false;
    private bool ShowPassword = false;
    private string ChallengeAnswer = string.Empty;
    private void Validate()
    {
        try
        {
            PageMessage = string.Empty;
            ErrorMessage = string.Empty;
            if (!string.IsNullOrEmpty(PageModel.UserName) && !ShowQuestion)
            {
                PageModel = ITPS.Data.Code.UserFactory.GetUserChallengeInformation(PageModel.UserName);
                if (string.IsNullOrEmpty(PageModel.ChallengeQuestion))
                { ErrorMessage = "No user information could be found"; }
                else
                { ShowQuestion = true; }
            }
            else if (ShowQuestion && !string.IsNullOrEmpty(PageModel.ChallengeAnswer))
            {
                if (PageModel.ChallengeAnswer.ToUpper() == ChallengeAnswer.ToUpper())
                { ShowPassword = true; }
                else
                { ErrorMessage = "Your answer doesn't match what's in the system."; }
            }
        }
        catch (Exception ex)
        {
            ErrorMessage = ex.Message;
        }
    }
}